<html>
  <body>
    <form method = "post" action = "/">
      <p>
        Puppy Name: 
        <input type = "text" name="name"></br>
       Puppy Breed:
       <input type = "text" name="breed"></br>
       Puppy Age: 
       <input type = "text" name="age"> 
      </p>
      <input type = "submit" value = "submit">
    </form>
    
  </body>
</html>