<html>
  <head>
    <title>Display the puppy</title>
  </head>
  <body>
      <p>
        Puppy Name:</br>
        <%= @puppy.name%></br>
       Puppy Breed:</br>
       <%= @puppy.breed%></br>
       Puppy Age: </br>
       <%= @puppy.age%>
      </p>
  </body>
</html>