<html>
  <head>
    <title>Display the puppy</title>
  </head>
  <body>
      <p>
        Puppy Name: 
        <%= @puppy.name%>
       Puppy Breed: 
       <%= @puppy.breed%>
       Puppy Age: 
       <%= @puppy.age%>
      </p>
  </body>
</html>